
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">

                    <div class="section-row">
                        <div class="section-title">
                            <h1 class="title">  HAKKIMIZDA </h1>
                        </div>
                        <form id="editnews" action="@Url.Action("Guncelle", "HakkimizdaForm")" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row">
                       
                                <div class="col-md-12">
                                    <div class="form-group">
                                       
                                        <textarea class="icerik" name="icerik">@ViewBag.hak[0].icerik</textarea>
                                    </div>
                                </div>
                          
                         
                             
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="primary-button" name="kaydet">Kaydet</button>
                                    </div>
                                </div>
                            </div>
                      
                        </form>



                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

