
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row --><br /><br />
        <div class="row">
            <div class="col-md-10">
                <div class="section-row">
                 
                    <p>@Html.Raw(ViewBag.hak[0].icerik)</p>


                </div>
            </div>
          
        </div>
        <!-- /row -->
        <br />
        <br />
    </div>
    <!-- /container -->
</div>

