  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">İLETİŞİM</h2>
                    </div>
                        <ul class="contact">
                        <li><i class="fa fa-phone"></i> 0312 123 45 67</li>
                        <li><i class="fa fa-envelope"></i> <a href="#">haber@email.com</a></li>
                        <li><i class="fa fa-map-marker"></i> Ankara</li>
                    </ul>
                </div>

                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">BİZE ULAŞIN</h2>
                    </div>
                    <form id="editnews" action="@Url.Action("FormGonder", "Iletisim")" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="input" type="email" name="mail" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="input" type="text" name="konu" placeholder="Konu">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="mesaj" placeholder="Mesaj"></textarea>
                                </div>
                                <button class="primary-button" name="gonder">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
